In [15]:
import pandas as pd

In [16]:
df = pd.read_csv('data/flights.csv')
df1 = pd.read_csv('data/airports.csv')
df2 = pd.read_csv('data/airports_dif_src.csv')
df3= pd.read_csv('data/airports_actually_used.csv')

In [5]:
df['DayofMonth'].unique()

array([19, 20, 18, 16, 17, 21, 22, 23, 24, 25, 26, 28, 29, 30,  2,  3,  4,
        5,  7,  8,  9, 10, 11, 12, 14, 15,  1,  6, 13, 27, 31],
      dtype=int64)

In [7]:
df['DayofMonth'].value_counts()

16    91483
9     91412
23    91254
30    90544
3     90172
10    90025
2     89760
17    89463
15    89357
22    89275
29    89251
24    89167
19    89054
8     89019
18    88904
12    88857
11    88606
25    88174
7     88011
21    87706
14    87704
6     87702
28    87450
13    87113
20    86780
5     86426
26    86364
27    85814
4     84758
1     84636
31    47977
Name: DayofMonth, dtype: int64

In [17]:
print("List of unique carriers:")
print(sorted(df['Carrier'].unique()), "\n")
print("List ID origin ariport")
origin_airport = df['OriginAirportID'].unique()
print(sorted(origin_airport), "\n")
print("List ID destination ariport")
destination_airport = df['DestAirportID'].unique()
print(sorted(destination_airport), "\n")
# origin and destination airport list are the same

List of unique carriers:
['9E', 'AA', 'AS', 'B6', 'DL', 'EV', 'F9', 'FL', 'HA', 'MQ', 'OO', 'UA', 'US', 'VX', 'WN', 'YV']

List ID origin ariport
[10140, 10299, 10397, 10423, 10529, 10693, 10721, 10792, 10800, 10821, 11042, 11057, 11066, 11193, 11259, 11278, 11292, 11298, 11433, 11618, 11697, 12173, 12191, 12264, 12266, 12339, 12451, 12478, 12889, 12892, 12953, 12954, 13198, 13204, 13232, 13244, 13303, 13342, 13487, 13495, 13796, 13830, 13851, 13871, 13891, 13930, 13931, 14027, 14057, 14100, 14107, 14122, 14307, 14492, 14524, 14570, 14635, 14679, 14683, 14730, 14747, 14771, 14831, 14843, 14869, 14893, 14908, 15016, 15304, 15376]

List ID destination ariport
[10140, 10299, 10397, 10423, 10529, 10693, 10721, 10792, 10800, 10821, 11042, 11057, 11066, 11193, 11259, 11278, 11292, 11298, 11433, 11618, 11697, 12173, 12191, 12264, 12266, 12339, 12451, 12478, 12889, 12892, 12953, 12954, 13198, 13204, 13232, 13244, 13303, 13342, 13487, 13495, 13796, 13830, 13851, 13871, 13891, 13930, 13931, 14027, 14057, 14100, 14107, 14122, 14307, 14492, 14524, 14570, 14635, 14679, 14683, 14730, 14747, 14771, 14831, 14843, 14869, 14893, 14908, 15016, 15304, 15376]

In [20]:
df1.columns

Index(['airport_id', 'city', 'state', 'name'], dtype='object')

In [24]:
df1.loc[df1['airport_id'] == df['OriginAirportID'][0]]['name']

165    Detroit Metro Wayne County
Name: name, dtype: object

In [28]:
df.iloc[0]

DayofMonth            19
DayOfWeek              5
Carrier               DL
OriginAirportID    11433
DestAirportID      13303
DepDelay              -3
ArrDelay               1
Name: 0, dtype: object

In [5]:
def map_name(airport_id):
    return df1.loc[df1['airport_id'] == airport_id]['name'].values[0]

In [14]:
origin_airport_name = list(map(map_name, origin_airport))
origin_airport_name

['Detroit Metro Wayne County',
 'Salt Lake City International',
 'Portland International',
 'Lambert-St. Louis International',
 'Cincinnati/Northern Kentucky International',
 'Hartsfield-Jackson Atlanta International',
 'Ronald Reagan Washington National',
 'Phoenix Sky Harbor International',
 'Dallas/Fort Worth International',
 'Jacksonville International',
 'LaGuardia',
 'Orlando International',
 'Minneapolis-St Paul International',
 'McCarran International',
 'Palm Beach International',
 'Memphis International',
 'Seattle/Tacoma International',
 'Austin - Bergstrom International',
 'Denver International',
 'Los Angeles International',
 'Kansas City International',
 'Charlotte Douglas International',
 'Philadelphia International',
 'John F. Kennedy International',
 'Fort Lauderdale-Hollywood International',
 'Indianapolis International',
 'George Bush Intercontinental/Houston',
 'Tampa International',
 'Southwest Florida International',
 "Chicago O'Hare International",
 'San Diego International',
 'Logan International',
 'Baltimore/Washington International Thurgood Marshall',
 'Port Columbus International',
 'Louis Armstrong New Orleans International',
 'Albuquerque International Sunport',
 'Buffalo Niagara International',
 'Raleigh-Durham International',
 'Newark Liberty International',
 'San Francisco International',
 'Honolulu International',
 'John Wayne Airport-Orange County',
 'General Mitchell International',
 'Louisville International-Standiford Field',
 'Pittsburgh International',
 'Nashville International',
 'Miami International',
 'Sacramento International',
 'Richmond International',
 'Luis Munoz Marin International',
 'Tucson International',
 'Chicago Midway International',
 'San Antonio International',
 'Eppley Airfield',
 'Cleveland-Hopkins International',
 'Reno/Tahoe International',
 'Washington Dulles International',
 'Kahului Airport',
 'Norfolk International',
 'Ted Stevens Anchorage International',
 'Theodore Francis Green State',
 'Bradley International',
 'Norman Y. Mineta San Jose International',
 'William P Hobby',
 'Metropolitan Oakland International',
 'Will Rogers World',
 'Long Beach Airport',
 'Dallas Love Field',
 'Bob Hope',
 'Ontario International']

In [36]:
df.groupby(['OriginAirportID', 'DestAirportID']).size().reset_index().rename(columns={0:'count'})

      OriginAirportID  DestAirportID  count
0               10140          10397    565
1               10140          10821    406
2               10140          11259   1555
3               10140          11292   1519
4               10140          11298   1610
...               ...            ...    ...
2508            15376          14107   2035
2509            15376          14679    595
2510            15376          14747    213
2511            15376          14771    250
2512            15376          14869    609

[2513 rows x 3 columns]

      OriginAirportID  DestAirportID  count
2251            14771          12892   9643
1212            12892          14771   9583
1189            12892          12889   6864
1132            12889          12892   6835
1077            12478          12892   6643
...               ...            ...    ...
1977            14122          14524      1
1279            13198          11278      1
758             11618          12953      1
773             11618          14100      1
1976            14122          14492      1

[2513 rows x 3 columns]

In [28]:
def map_lat(airport_id):
    return df3.loc[df3['airport_id'] == airport_id]['lat'].values[0]

In [34]:
def map_lon(airport_id):
    return df3.loc[df3['airport_id'] == airport_id]['lng'].values[0]

In [35]:
og_lat = map_lat(df.iloc[0]['OriginAirportID'])
final_lat = map_lat(df.iloc[0]['DestAirportID'])
og_lon = map_lon(df.iloc[0]['OriginAirportID'])
final_lon = map_lon(df.iloc[0]['DestAirportID'])

In [36]:
#Calculate distances
from geopy.distance import geodesic
geodesic((og_lat, og_lon), (final_lat, final_lon)).km #checked and it works :)

1844.8693002198113

In [42]:
#An average flight speed for a commercial airliner of 500 mph, which is equivalent to 805 km/hr 
flight_time = geodesic((og_lat, og_lon), (final_lat, final_lon)).km/805
flight_time

2.2917631058631196